/*page properties - universal styles for entire page such as font sizes, font families and page dimensions*/
* {
    position: relative;
    background-color: #FDFFFC;
    max-width: 1200px;
    margin: auto;
}
html, body {height: 100%;}
body {font-family: 'Jost', sans-serif; font-size: 16px; color: #011627;}
h1 {font-size: 2.5em; font-family: 'Fredoka One', cursive;}
h2 {font-size: 1.8em; font-family: 'Fredoka One', cursive;}
h3 {font-size: 1.25em; font-family: 'Fredoka One', cursive;}
p {font-size: 1em;}
a {color: #011627}
/*header - set the dimensions and colour for the header and logo */
header {
    height: 140px;
    background-color: #2EC4B6;
    position: relative;
}
#logo {
    width: 300px;
    height: 128px;
    left: 460px;
    top: 6px;
}
/*nav - set the dimensions for the nav bar and each of the different elements of a nav, such as the formatting (i.e colours and hover features)*/
nav {
    text-align: center;
    line-height: 20px;
    margin-top: 2px;
    border-bottom: #2EC4B6 2px solid;
}
nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: block;
	width: 200px;
	float: left;
}
nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    width: 120px;
    position: relative;
}
nav ul li a:hover {
    color:#FF9F1C;
    font-weight: bold;
}
/*sections - sets the universal dimensions for a section and the banners on each page as well as individual formatting for all other sections used throughout the site*/
section {
    text-align: center;
}
#banner {
    height: 300px;
}
#form {
    width: 650px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
#guide_heading {
    padding-top : 15px;
    padding-bottom: 30px;
    float: left;
    width: 30%;
    margin-right: 70px;
}
#lesson_plans {
    width: 30%;
    float: left;
    padding-top : 15px;
    padding-bottom: 30px;
}
#lesson_materials {
    padding-top : 15px;
    padding-bottom: 30px;
    float: right;
    width: 30%;

}
/*main - sets the universal dimensions for the 'main' of each webpage. ensuring that they fit for other individual elements on different pages*/
main {
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
}
main h2 {
    margin: 10px;
}
#about {
    margin-top: -20px;
}
#contact {
    width: 500px;
    float: left;
    margin-top: 20px;
}
/*aside - sets the universal dimensions for the aside tags used within the pages as well as other measurements and floats for individual elements*/
aside {
    width: 200px;
}
#blobs {
    float: left; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    height: 300px;
}
#about_blobs {
    float: left; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    height: 300px;
}
#about_info {
    text-align: center;
    margin-bottom: 20px;
}
/*form - sets the dimensions to fit the form onto the contact page as well as the colours that are to be used throughout the form. Also sets formatting for what happens when elements of the form are focussed on and hovered over*/
form h2 {
    text-align: center;
    margin-bottom: 10px;
}
.feedback-input {
    color: #ff9f1c;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #e71d36;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  .feedback-input:focus { border:2px solid #e71d36; }
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  #submit {
      width: 300px;
      background:#e71d36;
      border-radius: 5px;
      padding: 10px 295px;
      transition: all 0.3s;
      text-decoration: none;
      font-weight: bold;
  }
  #submit:hover { background: #2EC4B6; }